[Unit]
Description=Play boot video and start KlipperScreen on TFT43 and then start KlipperScreen
DefaultDependencies=no
After=systemd-modules-load.service
Before=getty@tty1.service

[Service]
Type=simple
Restart=always
RestartSec=2
User=freddie
SupplementaryGroups=klipperscreen
WorkingDirectory=/home/freddie/KlipperScreen
Environment="KS_XCLIENT=/home/freddie/.KlipperScreen-env/bin/python /home/freddie/KlipperScreen/screen.py" BACKEND=X
ExecStart=/bin/bash -c "/usr/bin/mpv --fs --no-audio /home/freddie/LogoToRedLab.mp4 && /home/freddie/KlipperScreen/scripts/KlipperScreen-start.sh"

# Log this user with utmp, letting it show up with commands 'w' and
# 'who'. This is needed since we replace (a)getty.
UtmpIdentifier=tty7
UtmpMode=user
# Create a PAM session to run pam-systemd, which creates /var/run/$UID
PAMName=%u
# A virtual terminal is needed.
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
